<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer__content">
                <a href="" class="footer__content-link">
                    <img src="./img/logo_footer.png" alt="logo" class="footer__content-logo">
                </a>
                <div class="footer__social">
                    <a href="#" class="footer__social-link">
                        <img src="./img/social_y.png" alt="youtube" class="footer__social-icon">
                        <img src="./img/icons_col/y_1.svg" alt="youtube" class="footer__social-icon_active" width="29">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="./img/social_f.png" alt="facebook" class="footer__social-icon">
                        <img src="./img/icons_col/f_i_2.svg" alt="facebook" class="footer__social-icon_active" width="13">
                    </a>
                    <a href="#" class="footer__social-link">
                        <img src="./img/social_t.png" alt="twitter" class="footer__social-icon">
                        <img src="./img/icons_col/t.svg" alt="twitter" class="footer__social-icon_active" width="31">
                    </a>
                </div>
            </div>
            <p class="footer__content-descr">
                © 2017 «Frontend» |  сайт разработан в
                <a href="#">Rubarb digital</a>
            </p>
        </div>
    </div>
</footer>