
<header  class="header">
    <div class="header-wrapper">
        <div class="header-container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="#" class="header__logo-link">
                        <img src="./img/logo.png" alt="logo" class="header__logo-img">
                    </a>
                </div>
                <div class="header__burger">
                    <span></span>
                </div>
                <div class="header__mobile-wrapper">
                    <nav class="header__nav">
                        <ul class="header__nav-list">
                            <li class="header__nav-item">
                                <a href="#frontend"  class="header__nav-link">
                                    ПЕРВЫЙ ЭКРАН
                                </a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#think"  class="header__nav-link">
                                    ВСТУПЛЕНИЕ
                                </a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#skills" class="header__nav-link">
                                    ИНФОГРАФИКА
                                </a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#performance" class="header__nav-link">
                                    ПРОИЗВОДИТЕЛЬНОСТЬ
                                </a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#contacts" class="header__nav-link">
                                    КОНТАКТЫ
                                </a>
                            </li>
                            <li class="header__nav-item">
                                <div class="header__contacts">
                                    <a href="tel:%2B380966228613" class="header__contacts-link">
                                        +38 (096) 622 86 13
                                    </a>
                                    <a href="tel:%2B380966228613" class="header__contacts-link">
                                        +38 (096) 622 86 13
                                    </a>
                                </div>
                            </li>
                            <li class="header__nav-item">
                                <div class="header__language">
                                    <ul class="header__language-list">
                                        <li class="header__language-item">
                                            <a class="header__language-link" href="#">EN</a>
                                        </li>
                                        <li class="header__language-item">
                                            <a class="header__language-link" href="#">UA</a>
                                        </li>
                                        <li class="header__language-item ">
                                            <a class="header__language-link pdngrght current-lang " href="#">RU</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__mobile-overlay"></div>
                    <div class="header__mobile-footer">
                        <div class="header__mobile-contacts">
                            <a href="tel:%2B380966228613" class="header__contacts-link header__mobile-link-tel">
                                +38 (096) 622 86 13
                            </a>
                        </div>
                        <div class="header__mobile-language">
                            <ul class="header__language-list header__mobile-list">
                                <li class="header__language-item header__mobile-item">
                                    <a class="header__language-link header__mobile-link-lang" href="#">EN</a>
                                </li>
                                <li class="header__language-item header__mobile-item">
                                    <a class="header__language-link header__mobile-link-lang current-lang" href="#">UA</a>
                                </li>
                                <li class="header__language-item header__mobile-item ">
                                    <a class="header__language-link header__mobile-link-lang pdngrght  " href="#">RU</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__mobile-social">
                            <a href="#" class="header__mobile-link-soc">
                                <img src="./img/social_y.png" alt="youtube" class="header__mobile-icon">
                            </a>
                            <a href="#" class="header__mobile-link-soc">
                                <img src="./img/social_f.png" alt="facebook" class="header__mobile-icon">

                            </a>
                            <a href="#" class="header__mobile-link-soc">
                                <img src="./img/social_t.png" alt="twitter" class="header__mobile-icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-shadow"></div>
    </div>
</header>